@import "common";

.node {
	cursor:pointer;
}

.graph_info {
	height: 100%;
	border-right:solid 1px #aaa;
	padding:10px 10px 10px 25px;
}

.graph_cont {
	background-color:#f2f2f2;
	height: 100%;
}

#graph_data, #highlight_edges {
	width: 100%;
	min-height: 150px;
	overflow: auto;
	max-height: 200px;
	background-color: #fff;
	border: solid 1px #ccc;
	border-radius: 3px;
	margin-bottom: 15px;
}

