@red:darken(#F44336,10%);
@blue:#0d47a1;
@yellow:darken(#FFEB3B,5%);
@green:#4CAF50;
@orange:#FF9800;
@purple:#9C27B0;
@black:#000;

@deep_purple:#673AB7;

@deep_orange:#FF5722;

@light_blue:lighten(@blue,10%);
@highlight_blue: lighten(@blue,15%); 
@darker_bright_blue:lighten(@blue,40%);
@bright_blue:lighten(@blue,50%);

@link_grey: #888;
@brighter_yellow:lighten(@yellow,5%);
@darker_yellow: darken(@yellow,1%);
@brighter_red: @red;
@darker_green:darken(@green,10%);
@brighter_green:lighten(@green,5%);

@dark_text_primary:lighten(@black,13%);
@dark_text_secondary:lighten(@black,46%);
@light_text:#f5f5f5;

@navbar_color: lighten(@blue,0%);
@title_red: darken(@red,5%);
@background_color: #ddd;

@font_face:'Roboto','arial','helvetica',sans-serif;
@default_font_size:16px;
