<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0">
        <title>Mutual Cognizance</title>
	<link rel="icon" href="{{base}}/GavinWeb.ico" type="image/x-icon">
</head>
<body style="background-color:#ddd;">
<div style="background-color:#fff;border-radius:30px;position:absolute;top:50%;left:50%;width:300px;height:200px;margin-left:-150px;margin-top:-100px;text-align:center;">
	<div style="margin-top:60px;font-size:30px;">
		<div><strong>Oops,</strong></div>
		<div><strong>Something seems to have gone wrong</strong></div>
	</div>
</div>
</body>
</html>
